#home-slider img {
  object-fit: cover;
  max-height: 100%;
  width: 100%;
}

.leo-product-deal {
  display: flex;
  margin-bottom: 10px;
}

.leo-gift {
  font-size: 20px;
  color: #f7544a;
  padding: 0px 20px 20px 0px;
}

.leo-deal-des {
  line-height: 18px;
  padding-left: 15px;
}

.leo-checkout-info {
  display: flex;
  justify-content: center;
}