<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Leo Shop</title>
  <link rel="shortcut icon" href="../../static/images/favicon.png">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../static/css/admin.css">
  <script src="../static/js/admin.js"></script>
</head>

<body>
  <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Leo Shop Admin</a>
    <input class="form-control form-control-dark w-100 d-none" type="text" placeholder="Search" aria-label="Search">
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" href="/logout">Đăng Xuất</a>
      </li>
    </ul>
  </nav>

  <div class="container-fluid">
    <div class="row">
      {% include 'admin/leftbar.html' %}
      <!-- MAIN -->
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
          <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
            <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
          </div>
          <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
            <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
          </div>
        </div>
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Thêm sản phẩm mới</h1>
        </div>

        <div>
          <form method="POST">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label>Loại sản phẩm</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text">Loại</label>
                  </div>
                  <select class="custom-select" name="category">
                    <option value="mobile" selected>Điện Thoại</option>
                    <option value="tablet">Tablet</option>
                    <option value="laptop">Laptop</option>
                    <option value="pc">PC</option>
                    <option value="equipment">Phụ Kiện</option>
                    <option value="watch">Đồng Hồ</option>
                  </select>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label>Tên sản phẩm</label>
                <input type="text" class="form-control" placeholder="Tên sản phẩm" name="name">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-3">
                <label>Thương hiệu</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text">Brand</label>
                  </div>
                  <select class="custom-select" name="brand">
                    <option value="Apple" selected>Apple</option>
                    <option value="Oppo">Oppo</option>
                    <option value="Samsung">Samsung</option>
                    <option value="Sony">Sony</option>
                    <option value="Nokia">Nokia</option>
                    <option value="Huawei">Huawei</option>
                    <option value="Xiaomi">Xiaomi</option>
                    <option value="Asus">Asus</option>
                    <option value="Dell">Dell</option>
                    <option value="Lenovo">Lenovo</option>
                  </select>
                </div>
              </div>
              <div class="form-group col-md-3">
                <label>Giá</label>
                <input type="number" class="form-control" name="price">
              </div>
              <div class="form-group col-md-3">
                <label>Số lượng</label>
                <input type="number" class="form-control" name="quantity">
              </div>
              <div class="form-group col-md-3">
                <label>Khuyễn mãi</label>
                <input type="number" class="form-control" name="offer">
              </div>
            </div>
            <hr class="my-4">

            <div class="form-group">
              <div class="input-group-prepend d-inline-block mr-2">
                <label class="input-group-text">Màu</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" value="red" name="colors">
                <label class="form-check-label">Đỏ</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" value="yeallow" name="colors">
                <label class="form-check-label">Vàng</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" value="black" name="colors">
                <label class="form-check-label">Đen</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" value="pink" name="colors">
                <label class="form-check-label">Hồng</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" value="chocolate" name="colors">
                <label class="form-check-label">Chocolate</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" value="orange" name="colors">
                <label class="form-check-label">Cam</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" value="white" name="colors">
                <label class="form-check-label">Trắng</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" value="extra-green" name="colors">
                <label class="form-check-label">Xanh Đậm</label>
              </div>

            </div>
            <div class="form-group">
              <div class="input-group-prepend d-inline-block mr-2">
                <label class="input-group-text">Nhãn</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" value="Iphone" name="tags">
                <label class="form-check-label">Iphone</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" value="64GB" name="tags">
                <label class="form-check-label">64GB</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" value="128GB" name="tags">
                <label class="form-check-label">128GB</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" value="Full HD" name="tags">
                <label class="form-check-label">Full HD</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" value="Việt Nam" name="tags">
                <label class="form-check-label">Việt Nam</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" value="Khuyễn Mãi" name="tags">
                <label class="form-check-label">Khuyễn Mãi</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" value="Free Ship" name="tags">
                <label class="form-check-label">Free Ship</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" value="Tặng ba lô" name="tags">
                <label class="form-check-label">Tặng ba lô</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" value="Tặng tai nghe" name="tags">
                <label class="form-check-label">Tặng tai nghe</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" value="Ram 16GB" name="tags">
                <label class="form-check-label">Ram 16GB</label>
              </div>
              <div class="form-check form-check-inline" style="margin-left: 76px;" name="tags">
                <input class="form-check-input" type="checkbox" value="Ram 32GB">
                <label class="form-check-label">Ram 32GB</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" value="Lì Xì" name="tags">
                <label class="form-check-label">Lì Xì</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" value="Thẻ nhớ 64GB" name="tags">
                <label class="form-check-label">Thẻ nhớ 64GB</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" value="Bảo hành 2 năm" name="tags">
                <label class="form-check-label">Bảo hành 2 năm</label>
              </div>


            </div>
            <hr class="my-4">

            <div class="form-row">
              <div class="form-group col-md-6">
                <label>Khuyến mãi</label>
                <input type="text" class="form-control" name="deals1" placeholder="Khuyến mãi 1">
                <br>
                <input type="text" class="form-control" name="deals2" placeholder="Khuyến mãi 2">
                <br>
                <input type="text" class="form-control" name="deals3" placeholder="Khuyến mãi 3">
              </div>
              <div class="form-group col-md-6">
                <label>Giới thiệu</label>
                <textarea class="form-control" name="intro" rows="6"></textarea>
              </div>
            </div>
            <hr class="my-4">

            <div class="form-row">
              <div class="form-group col-md-12">
                <label>Hình ảnh</label>
                <input type="text" class="form-control" name="image1" placeholder="Image link 1">
                <br>
                <input type="text" class="form-control" name="image2" placeholder="Image link 2">
                <br>
                <input type="text" class="form-control" name="image3" placeholder="Image link 3">
                <br>
                <input type="text" class="form-control" name="image4" placeholder="Image link 4">
                <br>
                <input type="text" class="form-control" name="image5" placeholder="Image link 5">
              </div>
            </div>
            <hr class="my-4">

            <div class="form-row">
              <div class="form-group col-md-12" id="leo-des-form-panel">
                <label>Mô tả chi tiết
                  <!-- <a class="btn btn-link pt-0" style="font-size: 14px;" id="leo-des-add">Thêm</a> -->
                </label>
                <div class="leo-des-form">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text">Tiêu đề</label>
                    </div>
                    <input type="text" class="form-control" name="des_title1" placeholder="Tiêu đề">
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text">Mô tả</label>
                    </div>
                    <input type="text" class="form-control" name="des_content1" placeholder="Mô tả">
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text">Hình ảnh</label>
                    </div>
                    <input type="text" class="form-control" name="des_img1" placeholder="Image link">
                  </div>
                  <p class="text-center">------</p>
                </div>
                <div class="leo-des-form">
                  <div>
                    <!-- <span class="btn btn-link float-right leo-remove-des">Xóa mô tả</span> -->
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text">Tiêu đề</label>
                    </div>
                    <input type="text" class="form-control" name="des_title2" placeholder="Tiêu đề">
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text">Mô tả</label>
                    </div>
                    <input type="text" class="form-control" name="des_content2" placeholder="Mô tả">
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text">Hình ảnh</label>
                    </div>
                    <input type="text" class="form-control" name="des_img2" placeholder="Image link">
                  </div>
                  <p class="text-center">------</p>
                </div>
                <div class="leo-des-form">
                  <div>
                    <!-- <span class="btn btn-link float-right leo-remove-des">Xóa mô tả</span> -->
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text">Tiêu đề</label>
                    </div>
                    <input type="text" class="form-control" name="des_title3" placeholder="Tiêu đề">
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text">Mô tả</label>
                    </div>
                    <input type="text" class="form-control" name="des_content3" placeholder="Mô tả">
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text">Hình ảnh</label>
                    </div>
                    <input type="text" class="form-control" name="des_img3" placeholder="Image link">
                  </div>
                  <p class="text-center">------</p>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-outline-success float-right mb-5">Thêm sản phẩm</button>
          </form>
        </div>
      </main>
      <!-- END OF MAIN -->

    </div>
  </div>
</body>

</html>