<!-- Bootstrap core JavaScript==================================================-->
<script type="text/javascript" src="../../static/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="../../static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery.sequence-min.js"></script>
<script type="text/javascript" src="../../static/js/jquery.carouFredSel-6.2.1-packed.js"></script>
<script defer src="../../static/js/jquery.flexslider.js"></script>
<script defer src="../../static/js/jquery.elevatezoom.js"></script>
<script type="text/javascript" src="../../static/js/script.min.js" ></script>
<script type="text/javascript" src="../../static/js/custom.js" ></script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2&appId=232591897300628&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>