<div class="our-brand">
  <h3 class="title">
    <strong>
      Our
    </strong>
    Brands
  </h3>
  <div class="control">
    <a id="prev_brand" class="prev" href="#">
      &lt;
    </a>
    <a id="next_brand" class="next" href="#">
      &gt;
    </a>
  </div>
  <ul id="braldLogo">
    <li>
      <ul class="brand_item">
        <li>
          <a href="#">
            <div class="brand-logo">
              <img src="images/envato.png" alt="">
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="brand-logo">
              <img src="images/themeforest.png" alt="">
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="brand-logo">
              <img src="images/photodune.png" alt="">
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="brand-logo">
              <img src="images/activeden.png" alt="">
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="brand-logo">
              <img src="images/envato.png" alt="">
            </div>
          </a>
        </li>
      </ul>
    </li>
    <li>
      <ul class="brand_item">
        <li>
          <a href="#">
            <div class="brand-logo">
              <img src="images/envato.png" alt="">
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="brand-logo">
              <img src="images/themeforest.png" alt="">
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="brand-logo">
              <img src="images/photodune.png" alt="">
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="brand-logo">
              <img src="images/activeden.png" alt="">
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="brand-logo">
              <img src="images/envato.png" alt="">
            </div>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>