<div class="our-brand">
  <h3 class="title">
    Thương Hiệu <strong>Nổi Tiếng</strong>
  </h3>
  <div class="control">
    <a id="prev_brand" class="prev" href="#">
      &lt;
    </a>
    <a id="next_brand" class="next" href="#">
      &gt;
    </a>
  </div>
  <ul id="braldLogo">
    <li>
      <ul class="brand_item">
        <li>
          <a href="#">
            <div class="brand-logo">
              <img src="https://cdn.tgdd.vn/Brand/1/iPhone-(Apple)42-b_16.jpg" alt="">
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="brand-logo">
              <img src="https://cdn.tgdd.vn/Brand/1/OPPO42-b_23.jpg" alt="">
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="brand-logo">
              <img src="https://cdn.tgdd.vn/Brand/1/Nokia42-b_21.jpg" alt="">
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="brand-logo">
              <img src="https://cdn.tgdd.vn/Brand/1/Huawei42-b_22.png" alt="">
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="brand-logo">
              <img src="https://cdn.tgdd.vn/Brand/1/Xiaomi42-b_33.png" alt="">
            </div>
          </a>
        </li>
      </ul>
    </li>
    <li>
      <ul class="brand_item">
        <li>
          <a href="#">
            <div class="brand-logo">
              <img src="https://cdn.tgdd.vn/Brand/1/Vsmart42-b_40.png" alt="">
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="brand-logo">
              <img src="https://cdn.tgdd.vn/Brand/1/Mobiistar42-b_20.jpg" alt="">
            </div>
          </a>
        </li>
        <li>
            <a href="#">
              <div class="brand-logo">
                <img src="https://cdn.tgdd.vn/Brand/1/HTC42-b_15.jpg" alt="">
              </div>
            </a>
          </li>
          <li>
              <a href="#">
                <div class="brand-logo">
                  <img src="https://cdn.tgdd.vn/Brand/1/Asus-(Zenfone)42-b_14.jpg" alt="">
                </div>
              </a>
            </li>
      </ul>
    </li>
  </ul>
</div>