<li class="option-cart">
    <a href="#" class="cart-icon" id="leo-shop-cart"><span class="cart_no"></span></a>
    <ul class="option-cart-item" id="leo-cart-list-header">
       <li id="leo-cart-item-form" style="display: none;">
          <div class="cart-item">
             <div class="image"><img src="" class="leo-pro-image"></div>
             <div class="item-description">
                <p class="name"></p>
                <p>Số lượng: <span class="light-red leo-pro-quantity"></span></p>
             </div>
             <div class="right">
                <p class="price">$30.00</p>
                <a href="#" class="remove"><img src="../../static/images/remove.png" alt="remove"></a>
             </div>
          </div>
       </li>
       <li><span class="total">Total <strong>$60.00</strong></span><button class="checkout" onClick="location.href='checkout.html'">CheckOut</button></li>
    </ul>
 </li>