<li class="option-cart">
   <a href="#" class="cart-icon" id="leo-shop-cart"><span class="cart_no" id='leo-cart-header-no'></span></a>
   <ul class="option-cart-item" id="leo-cart-list-header">
      <li id="leo-cart-item-form" style="display: none;">
         <div class="cart-item">
            <div class="image"><img src="" class="leo-pro-image"></div>
            <div class="item-description">
               <p class="name"></p>
               <p>
                  Số lượng: <span class="light-red leo-pro-quantity"></span>
                  <span class="price">$30.00</span>
               </p>
            </div>
         </div>
      </li>
      <li id="leo-cart-total" style="display: none;">
         <span class="total" id="leo-cart-total">
            <span>Tổng: </span>
            <strong>$60.00</strong>
         </span>
         <br>
         <br>
         <button class="checkout" onClick="location.href='/checkout'">Thanh toán</button>
      </li>
      <h3>Giỏ hàng đang trống!</h3>
   </ul>
</li>