<div class="ContactForm">
  <h5>
    Gửi Feedback
  </h5>
  <form>
    <div class="row">
      <div class="col-md-6">
        <label>
          Tên 
          <strong class="red">
            *
          </strong>
        </label>
        <input class="inputfild" type="text" name="">
      </div>
      <div class="col-md-6">
        <label>
          Email
          <strong class="red">
            *
          </strong>
        </label>
        <input class="inputfild" type="email" name="">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <label>
          Feedback 
          <strong class="red">
            *
          </strong>
        </label>
        <textarea class="inputfild" rows="8" name="">
        </textarea>
      </div>
    </div>
    <button class="pull-right">
      Gửi
    </button>
  </form>
</div>