<div class="footer">
  <div class="footer-info">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="footer-logo"><a href="#"><img src="../../static/images/logo.png" alt=""></a></div>
        </div>
        <div class="col-md-3 col-sm-6">
          <h4 class="title">Liên hệ</h4>
          <p>No. 01, Đại Cồ Việt, Hai Bà Trưng, Hà Nội, Việt Nam</p>
          <p>Call Us : (084) 1900 1008</p>
          <p>Email : hust@domain.vn</p>
        </div>
        <div class="col-md-3 col-sm-6">
          <h4 class="title">Chăm sóc khách hàng</h4>
          <ul class="support">
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Hình thức thanh toán</a></li>
            <li><a href="#">Mẹo đặt hàng</a></li>
            <li><a href="#">Thông tin</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h4 class="title">Nhận thông tin về sản phẩm mới</h4>
          <p>Trở thành khách hàng thân thiết để nhận những ưu đãi mới nhất, tốt nhất từ Leo Shop</p>
          <form class="newsletter">
            <input type="text" name="" placeholder="Email...">
            <input type="submit" value="Gửi" class="button">
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright-info">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>Copyright © 2019. Created by <a href="https://twitter.com/hta218_">Tuan Anh Huynh</a>. All rights reseved</p>
        </div>
        <div class="col-md-6">
          <ul class="social-icon">
            <li><a href="https://www.linkedin.com/in/anhht218/" target="#" class="linkedin"></a></li>
            <li><a href="https://twitter.com/hta218_" target="#" class="twitter"></a></li>
            <li><a href="https://www.facebook.com/hta218" target="#" class="facebook"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>