<div class="header">
  <div class="container">
     <div class="row">
        <div class="col-md-2 col-sm-2">
           <div class="logo"><a href="/"><img src="../../static/images/logo.png" alt="Leo Shop"></a></div>
        </div>
        <div class="col-md-10 col-sm-10">
           <div class="header_top">
              <div class="row">
                 <div class="col-md-3">
                 </div>
                 <div class="col-md-6">
                    <ul class="topmenu">
                       <li><a href="#">Về chúng tôi</a></li>
                       <li><a href="#">Mới</a></li>
                       <li><a href="#">Dịch vụ</a></li>
                       <li><a href="#">Tuyển dụng</a></li>
                       <li><a href="#">Media</a></li>
                       <li><a href="#">Hỗ trợ</a></li>
                    </ul>
                 </div>
                 <div class="col-md-3">
                    <ul class="usermenu">
                       <li><a href="checkout.html" class="log">Đăng nhập</a></li>
                       <li><a href="checkout2.html" class="reg">Đăng kí</a></li>
                    </ul>
                 </div>
              </div>
           </div>
           <div class="clearfix"></div>
           <div class="header_bottom">
              <ul class="option">
                 <li id="search" class="search">
                    <form><input class="search-submit" type="submit" value=""><input class="search-input" placeholder="Tìm kiếm sản phẩm..." type="text" value="" name="search"></form>
                 </li>
                 <li class="option-cart">
                    <a href="#" class="cart-icon">cart <span class="cart_no">02</span></a>
                    <ul class="option-cart-item">
                       <li>
                          <div class="cart-item">
                             <div class="image"><img src="images/products/thum/products-01.png" alt=""></div>
                             <div class="item-description">
                                <p class="name">Lincoln chair</p>
                                <p>Size: <span class="light-red">One size</span><br>Quantity: <span class="light-red">01</span></p>
                             </div>
                             <div class="right">
                                <p class="price">$30.00</p>
                                <a href="#" class="remove"><img src="images/remove.png" alt="remove"></a>
                             </div>
                          </div>
                       </li>
                       <li>
                          <div class="cart-item">
                             <div class="image"><img src="images/products/thum/products-02.png" alt=""></div>
                             <div class="item-description">
                                <p class="name">Lincoln chair</p>
                                <p>Size: <span class="light-red">One size</span><br>Quantity: <span class="light-red">01</span></p>
                             </div>
                             <div class="right">
                                <p class="price">$30.00</p>
                                <a href="#" class="remove"><img src="images/remove.png" alt="remove"></a>
                             </div>
                          </div>
                       </li>
                       <li><span class="total">Total <strong>$60.00</strong></span><button class="checkout" onClick="location.href='checkout.html'">CheckOut</button></li>
                    </ul>
                 </li>
              </ul>
              <div class="navbar-header"><button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button></div>
              <div class="navbar-collapse collapse">
                 <ul class="nav navbar-nav">
                    <li><a href="/product/mobile">điện thoại</a></li>
                    <li><a href="productlitst.html">tablet</a></li>
                    <li><a href="productgird.html">laptop</a></li>
                    <li><a href="productgird.html">pc</a></li>
                    <li><a href="productgird.html">phụ kiện</a></li>
                    <li><a href="productgird.html">đồng hồ</a></li>
                    <li><a href="contact.html">liên hệ</a></li>
                 </ul>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>