<div class="col-md-3">
  <div class="category leftbar">
    <h3 class="title">
      Sản phẩm
    </h3>
    {% set categories = [
    {'name': 'Điện Thoại', 'value': 'mobile'},
    {'name': 'Tablet', 'value': 'tablet'},
    {'name': 'Laptop', 'value': 'laptop'},
    {'name': 'PC', 'value': 'pc'},
    {'name': 'Phụ Kiện', 'value': 'equipment'},
    {'name': 'Đồng Hồ', 'value': 'watch'},
    ] %}
    <ul>
      {% for cat in categories %}
      <li><a href="/product/{{cat.value}}">{{cat.name}}</a></li>
      {% endfor %}
    </ul>
  </div>

  <div class="branch leftbar">
    <h3 class="title">
      Nhà cung cấp
    </h3>
    {% set brands = [
    {'name': 'Apple', 'value': 'Apple'},
    {'name': 'Samsung', 'value': 'Samsung'},
    {'name': 'Sony', 'value': 'Sony'},
    {'name': 'Oppo', 'value': 'Oppo'},
    {'name': 'Nokia', 'value': 'Nokia'},
    {'name': 'Huawei', 'value': 'Huawei'},
    {'name': 'Xiaomi', 'value': 'Xiaomi'},
    {'name': 'Asus', 'value': 'Asus'},
    {'name': 'Dell', 'value': 'Dell'},
    {'name': 'Lenovo', 'value': 'Lenovo'},
    ] %}
    <ul>
      {% for br in brands %}
      <li><a href="/product/search?type=brand&value={{br.value}}">{{br.name}}</a></li>
      {% endfor %}
    </ul>
  </div>

  <div class="price-filter leftbar">
    <h3 class="title">Giá</h3>
    <form class="pricing" id="leo-filter-form">
      <label>Từ: <input type="number" name="floor" placeholder="10.000.000"></label>
      <label>Đến: <input type="number" name="ceil" placeholder="20.000.000"></label>
      <input type="submit" value="Lọc" id="leo-filter-btn">
    </form>
  </div>

  <div class="clolr-filter leftbar">
    <h3 class="title">
      Màu
    </h3>
    {% set colors = ['red', 'yeallow', 'black', 'pink', 'dkpink', 'chocolate', 'orange',
    'off-white', 'extra-lightgreen', 'lightgreen', 'biscuit', 'chocolatelight'] %}
    <ul>
      {% for color in colors %}
      <li><a href="/product/search?type=color&value={{color}}" class="{{color}}-bg"></a></li>
      {% endfor %}
    </ul>
  </div>

  <div class="product-tag leftbar">
    <h3 class="title">
      Nhãn
    </h3>
    {% set tags = [
      'Iphone',
      '64GB',
      '128GB',
      'Full HD',
      'Việt Nam',
      'Khuyễn Mãi',
      'Free Ship',
      'Tặng ba lô',
      'Tặng tai nghe',
      'Ram 16GB',
      'Ram 32GB',
      'Lì Xì',
      'Thẻ nhớ 64GB',
      'Bảo hành 2 năm',
    ] %}
    <ul>
      {% for tag in tags %}
      <li><a href="/product/search?type=tag&value={{tag}}">{{tag}}</a></li>
      {% endfor %}
    </ul>
  </div>

  <div class="fbl-box leftbar">
    <div class="fb-page" data-href="https://www.facebook.com/thegioididongcom" data-tabs="timeline" data-height="210px" data-small-header="false"
      data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
      <blockquote cite="https://www.facebook.com/facebook" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/facebook">Facebook</a></blockquote>
    </div>
  </div>
</div>