<div class="toolbar">
  <div class="sorter">
    <!-- <div class="view-mode">
      <a href="productlitst.html" class="list"></a>
      <a href="#" class="grid active"></a>
    </div> -->
    <div class="sort-by">
      Sắp xếp :
      <select id="leo-toolbar-order">
        <option value="Default" selected>---</option>
        <option value="name">Tên (A-Z)</option>
        <option value="inc_price">Giá tăng dần</option>
        <option value="dec_price">Giá giảm dần</option>
      </select>
    </div>
    <!-- <div class="limiter">
      Số lượng :
      <select name="amount">
        <option value="3">9</option>
        <option value="3">15</option>
        <option value="3">18</option>
      </select>
    </div> -->
  </div>
  <div class="pager" id="leo-toolbar-pagination">
    <a href="" class="prev-page leo-page-navigation" data-leo-page-click="prev"><i class="fa fa-angle-left" data-leo-page-click="prev"></i></a>
    <a href="" class="active leo-page" data-leo-page-click="1">1</a>
    <a href="" class="leo-page" data-leo-page-click="2">2</a>
    <a href="" class="leo-page" data-leo-page-click="3">3</a>
    <a href="" class="next-page leo-page-navigation" data-leo-page-click="next"><i class="fa fa-angle-right" data-leo-page-click="next"></i></a>
  </div>
</div>