<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% include 'common/meta-data.html' %}
</head>

<body>
  <div class="wrapper">
    {% include 'common/header.html' %}
    <div class="clearfix">
    </div>
    <div class="container_fullwidth">
      <div class="container">
        <div class="row leo-checkout-info">
          <div class="col-md-9">
            <div class="" id="leo-checkout-pannel">
              <h4 class="leo-checkout-title">Giỏ hàng của bạn</h4>
              <div class="product-checkout-form col-md-12">
                <div>
                  <div class="col-md-2">
                    <img src="https://cdn.tgdd.vn/Products/Images/42/106211/samsung-galaxy-note-8-black-200-180x120.png"
                      alt="" class="leo-checkout-product-img">
                    <div class="leo-checkout-remove-pro">
                        <i class="fa fa-times-circle" aria-hidden="true"></i><span data-leo-checkout-click="remove">Xóa</span>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <h5 class="leo-checkout-product-name">Samsung Galaxy Note 8</h5>
                    <div class="promotion  webnote">
                      <ul class="leo-checkout-offer">
                        <li class="pro468854">
                          Sạc dự phòng 5000mAh (Áp dụng từ 11/1) <label class="infoend">(đến 31/01)</label>
                        </li>
                        <li class="pro467740">
                          Cơ hội trúng 61 xe Wave Alpha khi trả góp Home Credit <label class="infoend">(đến 31/01)</label>
                        </li>
                        <li class="pro467778">
                          Cơ hội trúng 99 lượng vàng 9999 khi mua điện thoại Samsung <label class="infoend">(đến 05/02)</label>
                        </li>
                        <li class="pro468133">
                          Ưu đãi trả góp 0% qua thẻ tín dụng 
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-2 leo-checkout-product-price">37.990.000đ</div>
                </div>
                <div class="col-md-12 leo-checkout-qty-panel">
                    <div class="col-md-3 float-right">
                      <span style="line-height: 32px;">Số lượng: </span>
                      <div class="leo-checkout-dec-qty" data-leo-checkout-click="inc"></div>
                      <span class="leo-checkout-qty">1</span>
                      <div class="leo-checkout-inc-qty pointer-event-none" data-leo-checkout-click="dec"></div>
                    </div>
                </div>
              </div>
              <div id="leo-checkout-total" class="col-md-12">
                <span>Tổng tiền: </span>
                <span class="leo-checkout-total-money float-right"></span>
              </div>
            </div>
            <div>
              {% include 'common/checkout-form.html' %}
            </div>
          </div>
        </div>
        <div class="clearfix">
        </div>
      </div>
    </div>
    <div class="clearfix">
    </div>
    {% include 'common/footer.html' %}
  </div>
  {% include 'common/base-scripts.html' %}
  <script src="../static/js/checkout.js"></script>
</body>

</html>