
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'common/meta-data.html' %}
  </head>
  <body>
    <div class="wrapper">
      {% include 'common/header.html' %}
      <div class="clearfix">
      </div>
      <div class="container_fullwidth">
        <div class="container">
          <div class="row leo-checkout-info">
            <div class="col-md-9">
              <div class="checkout-page">
                <ol class="checkout-steps">
                  <li class="steps active">
                    <a href="checkout.html" class="step-title">
                      01. checkout opition
                    </a>
                    <div class="step-description">
                      <div class="row">
                        <div class="col-md-6 col-sm-6">
                          <div class="new-customer">
                            <h5>
                              New Customer
                            </h5>
                            <label>
                              <span class="input-radio">
                                <input type="radio" name="user">
                              </span>
                              <span class="text">
                                I wish to subscribe to the Herbal Store newsletter.
                              </span>
                            </label>
                            <label>
                              <span class="input-radio">
                                <input type="radio" name="user">
                              </span>
                              <span class="text">
                                My delivery and billing addresses are the same.
                              </span>
                            </label>
                            <p class="requir">
                              By creating an account you will be able to shop faste be up to date on an order's status, and keep track of the orders you have previously made.
                            </p>
                            <button>
                              Continue
                            </button>
                          </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                          <div class="run-customer">
                            <h5>
                              Rerunning Customer
                            </h5>
                            <form>
                              <div class="form-row">
                                <label class="lebel-abs">
                                  Email 
                                  <strong class="red">
                                    *
                                  </strong>
                                </label>
                                <input type="text" class="input namefild" name="">
                              </div>
                              <div class="form-row">
                                <label class="lebel-abs">
                                  Password 
                                  <strong class="red">
                                    *
                                  </strong>
                                </label>
                                <input type="text" class="input namefild" name="">
                              </div>
                              <p class="forgoten">
                                <a href="#">
                                  Forgoten your password?
                                </a>
                              </p>
                              <button>
                                Login
                              </button>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ol>
              </div>
            </div>
          </div>
          <div class="clearfix">
          </div>
        </div>
      </div>
      <div class="clearfix">
      </div>
      {% include 'common/footer.html' %}
    </div>
    {% include 'common/base-scripts.html' %}
  </body>
</html>