<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'common/meta-data.html' %}
  </head>
  <body>
    <div class="wrapper">
      {% include 'common/header.html' %}

      <div class="clearfix">
      </div>
      <div class="container_fullwidth">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h5 class="title contact-title">
                Liên hệ với chúng tôi
              </h5>
              <div class="clearfix">
              </div>
              <div class="map">
                <iframe 
                  width="600" 
                  height="350" 
                  src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=daihocbachkhoahanoi&amp;aq=&amp;sll=14.058324,108.277199&amp;sspn=21.827722,43.286133&amp;ie=UTF8&amp;hq=&amp;hnear=Vietnam&amp;ll=14.058324,108.277199&amp;spn=8.883583,21.643066&amp;t=m&amp;z=6&amp;output=embed">
                </iframe>
              </div>
              <div class="clearfix">
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="contact-infoormation">
                    <h5>
                      Thông tin
                    </h5>
                    <p>
                      Leo Shop là cửa hàng online chuyên cung cấp các thiết bị điện tử hiện đại nhất, đến từ những nhà cung cấp nổi tiếng với giá cả phải chăng và chất lượng dịch vụ hợp lý.
                    </p>
                    <ul>
                      <li>
                        <span class="icon">
                          <img src="../static/images/message.png" alt="">
                        </span>
                        <p>
                          contact@leoshop.com
                          <br>
                          support@leoshop.me
                        </p>
                      </li>
                      <li>
                        <span class="icon">
                          <img src="../static/images/phone.png" alt="">
                        </span>
                        <p>
                          0387 176 583
                          <br>
                          0387 176 583
                        </p>
                      </li>
                      <li>
                        <span class="icon">
                          <img src="../static/images/address.png" alt="">
                        </span>
                        <p>
                          Số 1 Đại Cồ Việt, Hai Bà Trưng
                          <br>
                          Hà Nội, Việt Nam
                        </p>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-8">
                  {% include 'common/contact-form.html' %}
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix">
          </div>
          {% include 'common/brand.html' %}

        </div>
      </div>
      <div class="clearfix">
      </div>
      {% include 'common/footer.html' %}

    </div>
    {% include 'common/base-scripts.html' %}

  </body>
</html>