<!DOCTYPE html>
<html>

<head>
  {% include 'common/meta-data.html' %}
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="../static/js/slider-x.js"></script>
  <link rel="stylesheet" href="../static/css/slider-x.css">
</head>

<body id="home">
  <div class="wrapper">
    {% include 'common/header.html' %}
    {% include 'common/home-slider.html' %}

    <div class="clearfix"></div>
    <div class="container_fullwidth">
      <div class="container">
        <div class="hot-products">
          <h3 class="title">Sản Phẩm <strong>Mới</strong></h3>
          {% with list_id='hot', products_1=hotProducts_1, products_2=hotProducts_2 %}
          {% include 'common/product-list.html' %}
          {% endwith %}
        </div>
        <div class="clearfix"></div>
        <div class="featured-products">
          <h3 class="title">Sản Phẩm <strong>Nổi Bật </strong></h3>
          {% with list_id='featured', products_1=feaProducts_1, products_2=feaProducts_2 %}
          {% include 'common/product-list.html' %}
          {% endwith %}
        </div>
        <div class="clearfix"></div>
        {% include 'common/brand.html' %}
      </div>
    </div>
    <div class="clearfix"></div>
    {% include 'common/footer.html' %}
  </div>
  {% include 'common/base-scripts.html' %}

  <script>
    $('#home-slider').slider({
      draggable: false,
      autoPlay: false,
      paginationStyle: 'pagination-style-3',
      navStyle: 'nav-style-4',
    })
  </script>
</body>

</html>