<!DOCTYPE html>
<html>

<head>
  {% include 'common/meta-data.html' %}
</head>

<body>
  <div class="wrapper">
    {% include 'common/header.html' %}
    <div class="container_fullwidth">
      <div class="container">
        <div class="row">
          {% include 'common/left-bar.html' %}
          <div class="col-md-9">
            <div class="products-grid">
              {% include 'common/toolbar.html' %}
              <div class="row">
                {% for pro in products %}
                <div class="col-md-4 col-sm-6">
                  <div class="products">
                    {% if pro.new %}
                      <div class="offer">New</div>
                    {% endif %}
                    <div class="thumbnail"><a href="/detail/{{ pro.id }}"><img src="{{ pro.images[0] }}"></a></div>
                    <div class="productname">{{ pro.name }}</div>
                    <h4 class="price">{{ pro.price }}</h4>
                    <div class="button_group">
                      <button 
                        class="button add-cart add-to-cart-btn" 
                        type="button"
                        data-product='{ "id" : "{{ pro.id }}", "name" : "{{ pro.name }}", "image" : "{{ pro.images[0] }}", "price": "{{ pro.price }}"}'
                      >Thêm vào giỏ</button>
                      <button class="button compare" type="button"><i class="fa fa-exchange"></i></button>
                      <button class="button wishlist" type="button"><i class="fa fa-heart-o"></i></button>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
              {% include 'common/toolbar.html' %}
            </div>
          </div>
        </div>
        {% include 'common/brand.html' %}
      </div>
    </div>
    <div class="clearfix">
    </div>
    {% include 'common/footer.html' %}
  </div>
  {% include 'common/base-scripts.html' %}
</body>

</html>