
<!DOCTYPE html>
<html>
  <head>
    {% include 'common/meta-data.html' %}
  </head>
  <body>
    <div class="wrapper">
      {% include 'common/header.html' %}
      <div class="container_fullwidth">
        <div class="container">
          <div class="row">
            <div class="col-md-9">
              <div class="products-details">
                <div class="preview_image">
                  <div class="preview-small">
                    <img id="zoom_03" src="{{ product.images[0] }}" data-zoom-image="{{ product.images[0] }}" alt="">
                  </div>
                  <div class="thum-image">
                    <ul id="gallery_01" class="prev-thum">
                      {% for img in product.images %}
                        <li>
                          <a href="#" data-image="{{ img }}" data-zoom-image="{{ img }}">
                            <img src="{{ img }}" alt="">
                          </a>
                        </li>
                      {% endfor %}
                    </ul>
                    <a class="control-left" id="thum-prev" href="javascript:void(0);">
                      <i class="fa fa-chevron-left">
                      </i>
                    </a>
                    <a class="control-right" id="thum-next" href="javascript:void(0);">
                      <i class="fa fa-chevron-right">
                      </i>
                    </a>
                  </div>
                </div>
                <div class="products-description">
                  <h5 class="name" style="font-size: 15px;">{{ product.name }}</h5>
                  <!-- <p>
                    <img alt="" src="images/star.png">
                    <a class="review_num" href="#">
                      02 Review(s)
                    </a>
                  </p> -->
                  <p>Trạng thái: <span class=" light-red">{{ "Còn hàng" if product.quantity > 0 else "Hết hàng" }}</span></p>
                  <br>
                  <p>{{ product.intro }}</p>
                  <hr class="border">
                  <div class="price">Giá: <span class="new_price">{{ product.price }}</span></div>
                  <hr class="border">
                  <div class="wided">
                    <div class="qty">
                      Số lượng: 
                      <select id="leo-product-quantity">
                          <option selected value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                      </select>
                    </div>
                    <div class="button_group">
                      <button class="button add-to-cart-btn" 
                      data-product='{ "id" : "{{ product.id }}", "name" : "{{ product.name }}", "image" : "{{ product.images[0] }}", "price": "{{ product.price }}"}'>
                        Thêm vào giỏ
                      </button>
                      <button class="button favorite"><i class="fa fa-heart-o"></i></button>
                    </div>
                  </div>
                  <div class="clearfix">
                  </div>
                  <hr class="border">
                </div>
              </div>
              <div class="clearfix">
              </div>
              <div class="tab-box">
                <div id="tabnav">
                  <ul>
                    <li>
                      <a href="#Descraption">
                        Thông tin sản phẩm
                      </a>
                    </li>
                    <li>
                      <a href="#Reviews">
                        Đánh giá
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="tab-content-wrap">
                  <div class="tab-content" id="Descraption">
                    <p>{{ product.description }}</p>
                  </div>
                  <div class="tab-content" id="Reviews">
                    <form>
                      <table>
                        <thead>
                          <tr>
                            <th>
                              &nbsp;
                            </th>
                            <th>
                              1 star
                            </th>
                            <th>
                              2 stars
                            </th>
                            <th>
                              3 stars
                            </th>
                            <th>
                              4 stars
                            </th>
                            <th>
                              5 stars
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                              Quality
                            </td>
                            <td>
                              <input type="radio" name="quality" value="Blue"/>
                            </td>
                            <td>
                              <input type="radio" name="quality" value="">
                            </td>
                            <td>
                              <input type="radio" name="quality" value="">
                            </td>
                            <td>
                              <input type="radio" name="quality" value="">
                            </td>
                            <td>
                              <input type="radio" name="quality" value="">
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Price
                            </td>
                            <td>
                              <input type="radio" name="price" value="">
                            </td>
                            <td>
                              <input type="radio" name="price" value="">
                            </td>
                            <td>
                              <input type="radio" name="price" value="">
                            </td>
                            <td>
                              <input type="radio" name="price" value="">
                            </td>
                            <td>
                              <input type="radio" name="price" value="">
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Value
                            </td>
                            <td>
                              <input type="radio" name="value" value="">
                            </td>
                            <td>
                              <input type="radio" name="value" value="">
                            </td>
                            <td>
                              <input type="radio" name="value" value="">
                            </td>
                            <td>
                              <input type="radio" name="value" value="">
                            </td>
                            <td>
                              <input type="radio" name="value" value="">
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <div class="row">
                        <div class="col-md-6 col-sm-6">
                          <div class="form-row">
                            <label class="lebel-abs">
                              Your Name 
                              <strong class="red">
                                *
                              </strong>
                            </label>
                            <input type="text" name="" class="input namefild">
                          </div>
                          <div class="form-row">
                            <label class="lebel-abs">
                              Your Email 
                              <strong class="red">
                                *
                              </strong>
                            </label>
                            <input type="email" name="" class="input emailfild">
                          </div>
                          <div class="form-row">
                            <label class="lebel-abs">
                              Summary of You Review 
                              <strong class="red">
                                *
                              </strong>
                            </label>
                            <input type="text" name="" class="input summeryfild">
                          </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                          <div class="form-row">
                            <label class="lebel-abs">
                              Your Name 
                              <strong class="red">
                                *
                              </strong>
                            </label>
                            <textarea class="input textareafild" name="" rows="7" >
                            </textarea>
                          </div>
                          <div class="form-row">
                            <input type="submit" value="Submit" class="button">
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="tab-content" >
                    <div class="review">
                      <p class="rating">
                        <i class="fa fa-star light-red">
                        </i>
                        <i class="fa fa-star light-red">
                        </i>
                        <i class="fa fa-star light-red">
                        </i>
                        <i class="fa fa-star-half-o gray">
                        </i>
                        <i class="fa fa-star-o gray">
                        </i>
                      </p>
                      <h5 class="reviewer">
                        Reviewer name
                      </h5>
                      <p class="review-date">
                        Date: 01-01-2014
                      </p>
                      <p>
                        Lopng ipsum dolor sit amet, consectetur adipiscing elit. Integer a eros neque. In sapien est, malesuada non interdum id, cursus vel neque.
                      </p>
                    </div>
                    <div class="review">
                      <p class="rating">
                        <i class="fa fa-star light-red">
                        </i>
                        <i class="fa fa-star light-red">
                        </i>
                        <i class="fa fa-star light-red">
                        </i>
                        <i class="fa fa-star-half-o gray">
                        </i>
                        <i class="fa fa-star-o gray">
                        </i>
                      </p>
                      <h5 class="reviewer">
                        Reviewer name
                      </h5>
                      <p class="review-date">
                        Date: 01-01-2014
                      </p>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a eros neque. In sapien est, malesuada non interdum id, cursus vel neque.
                      </p>
                    </div>
                  </div>
                  <div class="tab-content" id="tags">
                    <div class="tag">
                      Add Tags : 
                      <input type="text" name="">
                      <input type="submit" value="Tag">
                    </div>
                  </div>
                </div>
              </div>
              <div class="clearfix">
              </div>
              <div id="productsDetails" class="hot-products">
                <h3 class="title">Sản Phẩm <strong>Mới</strong></h3>
                {% with list_id='hot', products_1=hotProducts_1, products_2=hotProducts_2 %}
                {% include 'common/product-list.html' %}
                {% endwith %}
              </div>
              <div class="clearfix">
              </div>
            </div>
            <div class="col-md-3">
              <div class="special-deal leftbar">
                <h4 class="title">
                  Ưu đãi <strong>hấp dẫn</strong>
                </h4>
                <div class="special-item">
                  {% for deal in product.deals %}
                    <div class="leo-product-deal">
                      <div class="leo-gift">
                        <i class="fa fa-gift fa-lg" aria-hidden="true"></i>
                      </div>
                      <div class="leo-deal-des">
                        {{ deal }}
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
              <div class="clearfix">
              </div>
              <div class="product-tag leftbar">
                <h3 class="title">
                  Nhãn sản phẩm
                </h3>
                <ul>
                  {% for tag in product.tags %}
                    <li><a href="#">{{ tag }}</a></li>
                  {% endfor %}
                </ul>
              </div>
              <div class="clearfix">
              </div>
              <div class="get-newsletter leftbar">
                <h3 class="title">
                  Nhận thông tin mới
                </h3>
                <p>
                  Đăng kí để nhận những ưu đãi mới nhất của {{ product.name }}
                </p>
                <br>
                <form>
                  <input class="email" type="text" name="" placeholder="Email...">
                  <input class="submit" type="submit" value="Nhận" style="float: right;">
                </form>
              </div>
              <div class="clearfix">
              </div>
              <div class="clearfix">
              </div>
            </div>
          </div>
          {% include 'common/brand.html' %}
        </div>
      </div>
      
      {% include 'common/footer.html' %}
    </div>
    {% include 'common/base-scripts.html' %}
  </body>
</html>