<!DOCTYPE html>
<html>

<head>
  {% include 'common/meta-data.html' %}
</head>

<body>
  <div class="wrapper">
    {% include 'common/header.html' %}
    <div class="container_fullwidth">
      <div class="container">
        <div class="row">
          {% include 'common/left-bar.html' %}
          <div class="col-md-9">
            <div class="products-grid">
              {% include 'common/toolbar.html' %}
              <div class="row">
                {% for pro in products %}
                <div class="col-md-4 col-sm-6">
                  {% include 'common/base-product.html' %}
                </div>
                {% endfor %}
              </div>
              {% include 'common/toolbar.html' %}
            </div>
          </div>
        </div>
        {% include 'common/brand.html' %}
      </div>
    </div>
    <div class="clearfix">
    </div>
    {% include 'common/footer.html' %}
  </div>
  {% include 'common/base-scripts.html' %}
</body>

</html>